{% extends 'catalog/base.html' %}

{% block title %}Детали статьи{% endblock %}

{% block content %}

<div>
    <h2>{{ blogpost.title }}</h2>
    {% if blogpost.preview_image %}
        <img src="{{ blogpost.preview_image.url }}" class="img-fluid mb-3" style="max-width: 300px; height: auto;" alt="{{ blogpost.title }}">
    {% endif %}
    <p>Содержание: {{ blogpost.content }}</p>
    <p>Дата создания: {{ blogpost.created_at|date:"d M Y" }}</p>
    <p>Количество просмотров: {{ blogpost.views_counter }}</p>
    <a href="{% url 'myblog:blogpost_update' blogpost.pk %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'myblog:blogpost_delete' blogpost.pk %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'myblog:blogposts_list' %}" class="btn btn-primary">Вернуться к списку</a>
</div>
{% endblock %}
