{% extends 'catalog/base.html' %}

{% block title %}Детали категории{% endblock %}

{% block content %}

<div>
    <h2>{{ category.name }}</h2>
    {% if category.image %}
        <img src="{{ category.image.url }}" class="img-fluid mb-3" style="max-width: 300px; height: auto;" alt="{{ category.name }}">
    {% endif %}
    <p>Категория: {{ category.name }}</p>
    <p>Описание: {{ category.description }}</p>
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'catalog:categories_list' %}">Назад</a>
    </div>
</div>
{% endblock %}
