{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<style>
  /* Фон на всю ширину + вертикальные отступы ~2 строки */
  .hero-section {
    background-color: #f3f6ff; /* поменяйте цвет при необходимости */
    padding-block: 2lh;        /* по ~2 строки сверху и снизу */
  }
  /* Фолбэк для браузеров без поддержки lh */
  @supports not (padding-block: 1lh) {
    .hero-section {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
</style>

<section class="hero-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Добро пожаловать в RomStore — стиль, доступный каждому.</h1>
        <p class="lead text-body-secondary">Мы помогаем собирать идеальные образы: качественная одежда, модные аксессуары и изящная бижутерия — всё на один клик.</p>
        <h3 class="elementor-heading-title elementor-size-default">Откройте для себя коллекцию и найдите свой стиль сегодня!</h3>
      </div>
    </div>
  </div>
</section>

<div class="container">
    <div class="row text-center gy-4">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-4 box-shadow h-100 d-flex flex-column">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <a href="{% url 'catalog:product_detail' product.id %}" class="text-decoration-none text-black">{{ product.name }}</a>
                    </h4>
                </div>
                <div class="card-body d-flex flex-column flex-grow-1">
                    {% if product.image %}
                        <a href="{% url 'catalog:product_detail' product.id %}" class="d-inline-block">
                            <img src="{{ product.image.url }}" class="img-fluid mb-3" alt="{{ product.name }}">
                        </a>
                            {% endif %}
                    <div class="mt-auto">
                        <h1 class="card-title pricing-card-title">{{ product.price }} р.</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>{{ product.description|truncatechars:25 }}</li>
                            {% if product.category %}
                                <li>Категория: {{ product.category.name }}</li>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Товары пока не добавлены.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
