{% extends 'catalog/base.html' %}

{% block title %}Детали товара{% endblock %}

{% block content %}

<div>
    <h2>{{ product.name }}</h2>
    {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid mb-3" style="max-width: 300px; height: auto;" alt="{{ product.name }}">
    {% endif %}
    <p>Категория: {{ product.category.name }}</p>
    <p>Описание: {{ product.description }}</p>
    <p>Дата создания: {{ product.created_at|date:"d M Y" }}</p>
    <p>Цена: {{ product.price }} р.</p>
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'catalog:products_list' %}">Назад</a>
    </div>
</div>
{% endblock %}
